// app-color_ Hex color code
// if u need to add alpha parametr just add it with color: rgba($app-color, alpha)
$app_color_212132: #212132;
$app-color_000000: #000000;
$app-color_3e5f72: #3E5F72;
$app-color_ace5ca: #ACE5CA;
$app-color_f1f5f7: #F1F5F7;
$app-color_ffffff: #ffffff;
$app-color-7397ab: #7397AB;
$app-color-c5de5d: #C5DE5D;
$app-color-e3eaee: #E3EAEE;
$app-color-f2f7da: #F2F7DA;
$app-color-ff525c: #FF525C;
$app-color-ffe6eb: #FFE6EB;
